__pycache__/
*.py[cod]
.vscode/

latency/*
latencybuffer/*
model/*
result/*
runstate/*
timely_result/*
experiment/*

!latency/.gitkeep
!latencybuffer/.gitkeep
!model/.gitkeep
!result/.gitkeep
!runstate/.gitkeep
!timely_result/.gitkeep
!experiment/.gitkeep

!experiment/JOB/
!experiment/JOB/**
!experiment/STATS/
!experiment/STATS/**
!experiment/TPCDS/
!experiment/TPCDS/**

*.json
*.csv
*.zip
